.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.white-content {
  background: #e4e4e4;
}

.light {
  color: #A80000;
  background: #FFF;
}

.dark {
  color: #fff;
  background: hsl(235, 24%, 19%);
}

.row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  border-bottom: 1px solid #fff;
  padding: 10px 5px;
}

.completed{
  text-decoration: line-through;
}
.menu{
  display: flex;
}

.item{
  margin: 3px 5px;
}